body{
    margin:0;
    padding:20px;
    background:#111827;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align:center;
    color:#00ff88;
    margin-bottom:30px;
}

.card{
    background:#1f2937;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 15px rgba(0,255,120,.25);
}

.card h2{
    margin:0;
    color:#ffffff;
    font-size:20px;
}

.card p{
    margin-top:15px;
    font-size:28px;
    color:#00ff88;
    font-weight:bold;
}
